<div class="container-fluid admin-main slice">
  <div class="container align-self-center">
    <h1>Articles</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Specialization</th>
          <th>Location</th>
          <th>URL</th>
          <th>Featured</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |job|}}
        <tr>
          <td>{{job.id}}</td>
          <td>{{job.name}}</td>
          <td>{{job.specialization}}</td>
          <td>{{job.location}}</td>
          <td>{{job.url}}</td>
          <td>{{job.featured}}</td>
          <td>
            {{#link-to "routes.admin.job.edit-job" job.id class='btn btn-success'}}Edit{{/link-to}}
            <br>
            <button class="btn btn-danger" {{action "deleteJob" job}}>Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>