<div class="container-fluid admin-main slice">
  <div class="container align-self-center">
    <h2>Edit Article</h2>
    <div class="form-horizontal">
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          {{input type="text" value=model.title class="form-control" placeholder="Insert Article Title..."}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          {{input type="date" value=model.date class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Tag</label>
        <div class="col-sm-10">
          {{input type="text" value=model.tag class="form-control" placeholder="Insert Tag Title..."}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Image-Thumbnail (Drag & Drop Here)</label>
        <div class="col-sm-6">
          {{tinymce-editor options=imageOptions value=model.thumbImage}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Article Content</label>
        <div class="col-sm-12">
          {{tinymce-editor options=ownOptions value=model.article}}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" {{action "saveArticle" model}}>Add to Article List</button>
        </div>
      </div>
    </div>

    {{#if responseMessage}}
      <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}

  </div>
</div>

{{outlet}}